@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
    font-family: 'Product Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Product Sans';
  src: local('Product Sans'), url(./fonts/product-sans/Product\ Sans\ Regular.ttf) format('truetype');
}